<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>My Stylish Web Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="rn.css">
   <!-- <style>
    h1{
        color: orange;
    }
   </style> -->
   <style>
    button{
        background-color: blue;
    }
   </style>
</head>
<body>
    <!-- <h1 style="color: red;"> Hello my name is ranjeet kumar</h1>
         <h1> Hello my name is ranjeet kumar</h1>
    <h1 style="color: rgb(28, 0, 0);"> I am from bihar</h1> 
       <h1> I am from bihar</h1>
       <p> this is a simple and normal paragraph</p>
       <button> click me </button>-->

       <!-- practice set1 -->

       <!-- <div id="box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus laboriosam quas beatae tempore facere repellat recusandae harum iste itaque labore
             nulla corrupti ex omnis maiores nihil ipsum, ipsa culpa explicabo?
       </div>
       <h1 class="heading"> heading 1</h1>
       <h2 class="heading"> heading 2</h2>
       <h3 class="heading"> heading 3</h3>

       <button style="background-color: pink;"> click me</button> -->
<h1> heading</h1>
       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam suscipit nihil iste saepe commodi quidem excepturi reiciendis perferendis quibusdam eveniet at eius minima unde dolorem cumque nesciunt, dicta placeat adipisci.
       Vitae magnam qui non tenetur quia similique assumenda maxime vero, debitis sunt necessitatibus deserunt nemo, perferendis sint dolorem eius culpa placeat hic neque minima aperiam. Blanditiis dolorem quas est amet.
       Quam quae consectetur sapiente, minus necessitatibus libero beatae aspernatur. Quibusdam quisquam aperiam, maxime iure delectus deserunt molestias quaerat cumque blanditiis perferendis nostrum, fuga veniam officia dolorem ad, repudiandae perspiciatis numquam.
       Consequatur et tenetur optio pariatur ducimus distinctio facilis, laudantium doloremque animi quod odio error amet voluptatum, odit, architecto mollitia fuga ad. Nulla consequuntur voluptate dicta amet consectetur necessitatibus error repellendus.
       Et recusandae a sint fugit voluptatem maxime, odit quia illo repellendus dicta, tempora labore consequuntur magnam? Saepe assumenda quisquam autem, consequatur blanditiis et repudiandae voluptate minima, impedit aspernatur accusantium molestiae?
       Iusto consequuntur ut quisquam vel quos animi laudantium! Soluta autem, id earum quisquam doloribus necessitatibus dolore, accusamus repudiandae illum vitae tenetur perferendis? Sequi, libero nesciunt quos officia accusantium minus ratione!
       Cumque accusantium, ea distinctio corrupti ex aliquam ut tenetur ad fugit totam laboriosam provident explicabo consectetur doloremque nostrum ipsum officiis, praesentium, molestiae eius dolor? Nisi non architecto quos voluptates repudiandae.
       Quisquam laborum recusandae sit repellat excepturi qui quasi! Unde tempora id omnis dicta maxime quisquam mollitia aut adipisci, itaque quae perferendis! Odit, aliquid. Aliquid enim asperiores quod quis qui soluta!
       Id nostrum blanditiis praesentium perspiciatis voluptates corporis velit in ab, quidem nisi, veniam corrupti, cum accusantium molestiae repudiandae. Quibusdam assumenda necessitatibus officia, nisi iusto delectus saepe ipsa minus tenetur veniam.
       Animi distinctio dolorum doloribus natus cum sequi in, fuga quam illum soluta? Deleniti velit blanditiis, nesciunt fugiat asperiores magni quisquam natus esse, amet sint ducimus tempora reprehenderit necessitatibus quas numquam.</p>
       
    <a href="https://www.youtube.com/">click hear </a>
</body>
</html>